@page
@model ListaCursos.Pages.EditModel
@{
    ViewData["Title"] = "Edit";
}


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-page="/Courses">Cursos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Editar</li>
  </ol>
</nav>


<div class="container w-75">
    <h3>@Model.Course.Name</h3>
    <form method="post">

        <!-- Using: asp-for (Tag helpers) for simple access to property of model -->
        <input type="hidden" asp-for="@Model.Course.Id" />

        <div class="form-group">
            <!-- Using: asp-for (Tag helpers) for simple access to property of model -->
            <label asp-for="Course.Name"></label>
            <input asp-for="Course.Name" class="form-control" />
            <span  class="alert  text-danger" asp-validation-for="Course.Name"></span>
        </div>

        <div class="form-group">
            <!-- Using: asp-for (Tag helpers) for simple access to property of model -->
            <label asp-for="Course.Description"></label>
            <textarea asp-for="Course.Description" class="form-control"></textarea>
            <span class="alert  text-danger" asp-validation-for="Course.Description"></span>
        </div>

        <div class="form-group">
            <!-- Using: asp-for (Tag helpers) for simple access to property of model -->
            <label asp-for="Course.Author"></label>
            <input asp-for="Course.Author" class="form-control" />
            <span class="alert  text-danger" asp-validation-for="Course.Author"></span>
        </div>

        <div class="form-group">
            <!-- Using: asp-for (Tag helpers) for simple access to property of model -->
            <label asp-for="Course.Uri"></label>
            <input asp-for="Course.Uri" class="form-control" />
            <span class="alert  text-danger" asp-validation-for="Course.Uri"></span>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="/Courses" class="btn btn-outline">Volver</a>

    </form>
</div>

